In [1]:
import pandas as pd
import numpy as np

In [2]:
# import movies csv (genre does not matter for v1)
movies_df = pd.read_csv('movielens/movies.csv').drop('genres', axis=1)
print('Shape:', movies_df.shape)
movies_df.head()

Shape: (9125, 2)

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [5]:
# import ratings csv (timestamp is not impotant)
ratings_df = pd.read_csv('movielens/ratings.csv').drop('timestamp', axis=1)
print(ratings_df.shape)
ratings_df.head()

(100004, 3)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [16]:
num_users = len(ratings_df['userId'].unique())
num_movies = len(movies_df)
print(f"Number of users: {num_users}")
print(f"Number of movies: {num_movies}")

Number of users: 671
Number of movies: 9125